*
  box-sizing: border-box

body
  color: $text-color
  font-family: 'Mulish', sans-serif
  // font-family: 'Nunito', sans-serif

ul
  margin: 0
  padding: 0

.container
  max-width: 1100px
  margin: auto
